In [3]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [58]:
import pymysql
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt

import pandas.io.sql
import pyodbc

import xlrd

# Abre conexion con la base de datos
conn = pymysql.connect(host='127.0.0.1',
                             user='root',
                             database='aps',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
##################################################
cursor = conn.cursor()
# read data
data = pd.read_excel('universidades.xlsx')
# rename columns
data = data.rename(columns={'nombre': 'Universidad',
                            'provincia': 'Provincia de la sede',
                            })
data = data.drop(data.columns[[1,2,3,4]], axis='columns')
# export
data.to_excel('finaluniversidades.xlsx', index=False)

# Open the workbook and define the worksheet
book = xlrd.open_workbook("finaluniversidades.xlsx")
sheet = book.sheet_by_name("Sheet1")



for r in range(1, sheet.nrows):
    nombre = sheet.cell(r,0).value
    provincia = sheet.cell(r,1).value
    
    query = """
    INSERT INTO universidad (
        nombre,
        provincia
    ) VALUES ('{0}', '{1}')""".format(nombre,provincia);


    # Execute sql Query
    cursor.execute(query)

# Commit the transaction
conn.commit()

# Close the database connection
conn.close()